.paralax {
  position: fixed;
  background: no-repeat center/cover url(./me.jpg);
  // background-color: rgb(121, 121, 121, 0.6) ;
  // rgb(37 40 47);
  background-blend-mode: overlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .overlay-2 {
    background: url("./cloudOverlay.png") 0 100% repeat-x;
    z-index: 2;
    pointer-events: none;
    height: 80vh;
    width: 4000px;
  }
}

//
