header {
  position: relative;
  .header {
    &__backText {
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: 0;
      font-size: 80vh;
      text-wrap: nowrap;
      width: 50%;
      font-weight: bold;
      //
      white-space: nowrap;
    }
  }
}

.headerLeft {
}

.headerRight {
}
