.navbar {
  // height: 100px;
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .navbar_navig {
    ul {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
}
