@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Rubik+Bubbles&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

html {
  // scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  background-color: rgb(245 251 255);
  position: relative;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

section {
  min-height: 100vh;
  //
  scroll-snap-align: center;
  position: relative;
  color: white;
}

.container {
  padding: 50px 110px;
  font-size: 20px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: grey;
}

.mainHelloText {
  font-family: "Jersey 10", sans-serif;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
  position: relative;
}
