@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Rubik+Bubbles&display=swap");

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background-color: rgb(245 251 255);
  position: relative;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

section {
  height: 100vh;
  //
  scroll-snap-align: center;
  z-index: 9;
}

.container {
  padding: 50px 110px;
  font-size: 20px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
