.aboutMe {
  position: relative;
  padding: 100px 0;

  h2 {
    top: 0;
    position: sticky;
    white-space: nowrap;
  }
  h2 {
    font-size: 100px;
  }
  &__Boxholder {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    &__Box {
      width: 200px;
      height: 250px;
      border: solid;
    }
  }
}
